html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#cage {
  margin: 0 auto;
  border: 2vh solid #cc0000;
  height: 100vh;
  width:  100vh;
}
#snake {
  background-color: black;
  position: relative;
}

#square {
  background-color: red;
  position: relative;
}
