*,
*::before,
*::after {
  box-sizing: border-Box;
}

#cage {
  margin: 0 auto;
  border: 2vh solid #cc0000;
  height: 90vh;
  width:  90vh;
  position: relative;

}

.snakeBody {
  background-color: black;
  position: absolute;
  border-radius: 25%;
}

#square {
  background-color: red;
  position: absolute;
  border-radius: 25%;
}

#score {
  position: absolute;
  top: 1rem;
  left: 15rem;
  display: inline-block;
  font-size: 2rem;
}
